/* Getting Fonts */

.fira-sans-thin {
    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.fira-sans-extralight {
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.fira-sans-light {
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fira-sans-medium {
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.fira-sans-semibold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.fira-sans-bold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.fira-sans-extrabold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.fira-sans-black {
    font-family: "Fira Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
}

/* .fira-sans-thin-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.fira-sans-extralight-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.fira-sans-light-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.fira-sans-regular-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-medium-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-semibold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans-bold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans-extrabold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans-black-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: italic;
} */


/* shared & global styles */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
    max-width: 1280px;
    margin: 0 auto;
}

.btn-punch {
    background-color: #006A50;
    border-color: #006A50;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
}

.section-title {
    margin-top: 80px;
    margin-bottom: 32px;
    color: #0E0E0E;
    font-size: 40px;
    font-weight: 700;
}

.section-copy {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    line-height: 24px;
}

.section-subhead {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.section-icon {
    height: 62px;
    width: 62px;
    margin-bottom: 24px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

/* Navigation area */
.nav-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav h3 {
    color: #0E0E0E;
    font-size: 32px;
    font-weight: 700;
}

nav a button {
    border-color: #006A50;
    border-radius: 8px;
    padding: 15px 30px;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
}

/* Hero area */
.hero-area {
    background-color: #C6E4D6;
    border-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 100px;
    display: flex;
    gap: 64px;
    justify-content: space-between;
    align-items: center;
}

.hero-subhead {
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
}

.hero-header {
    font-size: 56px;
    font-weight: 700;
    color: #0E0E0E;
    margin-bottom: 24px;
}

.hero-img {
    width: 400px;
}

/* Pillars of Bangladesh 2.0 */
.pillar-card-coll {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.pillar-card {
    width: 300px;
    background-color: white;
    border: 1px inset rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 24px;
}

/* The Vision of Future */
.vision-card-coll {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin-top: 32px;
}

.vision-card {
    width: 410px;
    padding: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.vision-card a {
    margin-top: auto;
}

.vision-card-blue {
    background-color: rgba(84, 144, 245, 0.2);
    border: 1px inset #5490F5;
}

.vision-btn-blue {
    background-color: #5490F5;
    border-color: #5490F5;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 11px 20px;
    margin-top: 24px;
}

.vision-card-green {
    background-color: rgba(198, 228, 214, 1);
    border: 1px inset #09A15C;
}

.vision-btn-green {
    background-color: #09A15C;
    border-color: #09A15C;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 11px 20px;
    margin-top: 24px;
}

.vision-card-yellow {
    background-color: rgba(247, 235, 207, 1);
    border: 1px inset #FFC239;
}

.vision-btn-yellow {
    background-color: #FFC239;
    border-color: #FFC239;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 11px 20px;
    margin-top: 24px;
}

.dr-md-younus {
    background-color: white;
    margin-top: 32px;
    padding: 48px 24px;
    border-radius: 16px;
    background-image: url("../images/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 24px 24px;
}

.dr-md-younus p {
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    line-height: 24px;
}

.dr-md-younus h5 {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 12px;
    margin-bottom: 4px;
}

.dr-md-younus h6 {
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

/* Your Opinion Matters */
.your-opinion table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    overflow: hidden;
}

.your-opinion th, td {
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 24px;
    color: #0E0E0E;
    font-size: 16px;
    font-weight: 600;
}

.your-opinion th {
    background-color: #C6E4D6;
    font-size: 20px;
}

.your-opinion th:nth-child(1), td:nth-child(1) {
    text-align: left;
}

.your-opinion th:nth-child(2), td:nth-child(2) {
    text-align: center;
}

.your-opinion th:nth-child(1) {
    border-right: 0px;
}

.your-opinion th:nth-child(2) {
    border-left: 0px;
}

.ur-opinion-qry {
    font-size: 16px;
    font-weight: 600;
    color: #0E0E0E;
}

.ur-opinion-resp {
    font-size: 16px;
    font-weight: 500;
    color: #0E0E0E;
    padding: 10px, 24px;
    background-color: #C6E4D6;
    border: 1px inset #0E0E0E;
    border-radius: 4px;
    height: 44px;
    width: 152px;
}